*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

:root
{
    --soft_blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    --very_dark_blue_mainBG: hsl(217, 54%, 11%);
    --very_dark_blue_cardBG: hsl(216, 50%, 16%);
    --very_dark_blue_line: hsl(215, 32%, 27%);
}


body
{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-color: var(--very_dark_blue_mainBG);
    padding: 30px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container__card
{
    width: 300px;
    height: 500px;
    background-color: var(--very_dark_blue_cardBG);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.container__card__img
{
    width: 100%;
    position: relative;
    display: flex;
}

.card__img
{
    border-radius: 10px;
    width: 100%;
    transition: .5s ease;
}

.overlay__background
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s ease;
    background-color: var(--cyan);
    opacity: 0;
}

.overlay__img
{
    position: absolute;
    transform: scale(.15, .15);
    height: 100%;
    transition: .5s ease;
    opacity: 0;
}

.container__card__img:hover .overlay__background
{
    cursor: pointer;
    opacity: 0.5;
}

.container__card__img:hover  .overlay__img
{
    opacity: 1;
    cursor: pointer;
}

.container__card__text
{
    padding-top: 20px; 
    height: 100%;
    color: var(--soft_blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo
{
    align-self: flex-start;
    color: white;
}

.container__card__text h2:hover
{
    color: var(--cyan);
    cursor: pointer;
}

.card__item
{
    display: flex;
    justify-content: space-between;
}

.eth
{
    color: var(--cyan);
}

.date
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.date__icon
{
    margin: 3px;
}

.card__user
{
    border-top: 1px solid var(--very_dark_blue_line);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.user span
{
    color: white;
}

.user span:hover
{
    color: var(--cyan);
    cursor: pointer;
}

.user__img
{
    width: 30px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
}